@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

$annual-bg: hsla(225, 100%, 94%, 0.3);
$btn-bg: hsl(245, 75%, 52%);
$btn-bg-hover: rgba(56, 41, 224, 0.65);
$card-bg: hsl(225, 100%, 98%);
$paragraph-color: hsl(224, 23%, 55%);
$title-color: hsl(223, 47%, 23%);
$font: 16px;
$fontFamily: 'Red Hat Display', sans-serif;